apiVersion: v1
kind: PersistentVolumeClaim
metadata:
{% if pvcname is defined %}
  name: {{ pvcname }}
{% else %}
  name: storage-{{ req_id }}
{% endif %}
spec:
  storageClassName: {{ storageclass | default('default') }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "20Gi"
